<%- include("partials/header"); -%>

<form class="" action="/compose" method="post">
  <h1>Compose</h1>
  <h3>Title</h3>
  <input class="form-control" type="text" name="topic" value="">
  <div class="form-group">

    <h3>Post</h3>
    <textarea class="form-control" name="textBox" rows="5" cols="80"></textarea>

  </div>
  <button class="btn btn-primary" type="submit" name="button">Publist</button>
</form>


<%- include("partials/footer"); -%>
